@{
    ViewData["Title"] = "訊息提示框";
}

 <!-- HTML -->
 <div class="alert alert-success ">
    <strong>成功!</strong> 指定操作成功提示信息。
  </div>
  <div class="alert alert-info ">
    <strong>信息!</strong> 請注意此訊息。
  </div>
  <div class="alert alert-warning alert-dismissible">
    <strong>警告!</strong> 即將超過登入時間上限！
  </div>
  <div class="alert alert-danger alert-dismissible fade show">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>錯誤!</strong> 您已超過登入時間上限！
  </div>