@{
    ViewData["Title"] = "Badges";
}

 <!-- HTML -->
<h5>本周重點 <span class="badge badge-pill badge-default">默認</span></h5>
<p>
<h5>本周重點<span class="badge badge-pill badge-primary">亮點工作</span></h5>
<p>
<h5>On schedule Item<span class="badge badge-pill badge-success">成功</span></h5>
<p>
<h5>Trouble Shooting<span class="badge badge-pill badge-info">訊息</span></h5>
<p>
<h5>恐超過估算時間<span class="badge badge-pill badge-warning">警告</span></h5>
<p>
<h5>Delay Item<span class="badge badge-pill badge-danger">危險</span></h5>