@{
    ViewData["Title"] = "Cards";
}

 <!-- HTML -->
 <div class="container">
 <div class="card">
  <div class="card-body">簡單的卡片</div>
</div>

<br />


<div class="card" style="width: 18rem;">
  <img src="http://static.runoob.com/images/mix/cinqueterre.jpg" class="card-img-top" alt="範例圖">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

</div>

<br />

 <div class="card " style="width:18rem">
    <img class="card-img-top" src="http://static.runoob.com/images/mix/cinqueterre.jpg" alt="Card image" style="width:100%">
    <div class="card-img-overlay">
      <h4 class="card-title" style="color:white">John Doe</h4>
      <p class="card-text" style="color:white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
  </div>

