@{
    ViewData["Title"] = "文字排版";
}

 <!-- HTML -->
 <div class="container">
        <h1>hight light文本</h1>
        <p>使用 mark 元素来 <mark>高亮</mark> 文本。</p>
        <h1>Abbreviations</h1>
        <p>The <abbr title="World Health Organization">WHO</abbr> was founded in 1948.</p>
        <br><br>
        <h1>Blockquotes</h1>
        <blockquote class="blockquote">
            <p>For 50 years, WWF has been protecting the future of nature. The world's leading conservation
                organization, WWF works in 100 countries and is supported by 1.2 million members in the United States
                and close to 5 million globally.</p>
            <footer class="blockquote-footer">From WWF's website</footer>
        </blockquote>
        <br><br>
        <h1>片段代碼</h1>
        <p>以下 HTML 元素: <code>span</code>, <code>section</code>, 和 <code>div</code> 用于定義部份文件內容。</p>
    </div>