@{
    ViewData["Title"] = "Grid";
}

 <!-- HTML -->

  <div class="row" style="color:#56445D"   >
    <div class="col"  style="background-color:#C5E99B;padding:10px">
      1 of 3
    </div>
    <div class="col-6"  style="background-color:#8FBC94;padding:10px">
      2 of 3
    </div>
     <div class="col"  style="background-color:#548687;padding:10px">
      3 of 3
    </div>
  </div>
  <div class="row" style="color:#333333;margin-top:20px" >
    <div class="col" style="background-color:#F17F42;padding:10px">
      1 of 3
    </div>
    <div class="col" style="background-color:#CE6D39;padding:10px">
      2 of 3
    </div>
    <div class="col" style="background-color:#FFEEE4;padding:10px">
      3 of 3
    </div>
  </div>



  <div class="row"  style="color:#56445D;margin-top:20px"  > 
    <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2"  style="background-color:#C5E99B;padding:10px">
      <p>1 of 2</p>
    </div>
    <div class="col-sm-9 col-md-6 col-lg-8 col-xl-10" style="background-color:#8FBC94;padding:10px">
      <p> 2 of 2</p>
    </div>
  </div>
